
*
*/

!/README.md
!/.notes

!/.config/sublime-text-3/Packages/**/*.sublime-settings
!/.config/sublime-text-3/Packages/**/faham*.tmTheme
!/.config/Synergy/**
!/.config/bashrun/**
!/.config/htop/**
!/.config/mimeapps.list
!/.config/vlc/vlcrc
!/.config/terminator/**
!/.local/share/applications/mimeapps.list
!/.local/share/Tomahawk/tomahawk.db

!/.scripts/**
!/.encrypted/**
!/.fonts/*
!/.fluxbox/**
!/.irssi/**
!/.i3/**
!/.goldendict/config
!/.w3m/config
!/.mplayer/**
!/.vim/**
/.vim/bundle/**
/.vim/.netrwhist
!/.vim/bundle/Vundle.vim

!/.tmux.conf
!/.tmux/**
/.tmux/resurrect/*
/.tmux/plugins/*
!/.tmux/plugins/tpm

!/.zlogin
!/.zshrc
!/.zshrc.pre-oh-my-zsh
!/.profile
!/.xprofile
!/.Xmodmap
!/.Xresources
!/.xinitrc
!/.xscreensaver
!/.xsession
!/.xbindkeysrc
!/.bashrc
!/.bash_profile
!/.vimrc
!/.conkyrc
!/.festivalrc
!/.gdbinit
!/.gdbinit2
!/.oh-my-zsh/
!/.oh-my-zsh-custom-themes/**

!/.git/**
!/.gitconfig
!/.gitignore
!/.gitmessage
!/.gitmodules
!/.gitattributes
!/.git-crypt/**

*~
*.swp
