
*
!*/

!/README.md
!/.notes

!/bin/**
/bin/vcm
/bin/[Tt]elegram

!/.config/google-chrome/Default/IndexedDB/chrome-extension_**/*.log
!/.config/sublime-text-3/Packages/**/*.sublime-settings
!/.config/sublime-text-3/Packages/**/faham*.tmTheme
!/.config/Synergy/**
!/.config/bashrun/**
!/.config/htop/**
!/.config/mimeapps.list
!/.config/vlc/vlcrc
!/.config/pcmanfm/**
!/.config/terminator/**
!/.local/share/applications/mimeapps.list
!/.local/share/Tomahawk/tomahawk.db

!/.encrypted/**
!/.fonts/*
!/.fluxbox/**
!/.irssi/**
!/.i3/**
!/.goldendict/config
!/.w3m/config
!/.mplayer/**
!/.vim/**
/.vim/.netrwhist

!/.tmux.conf
!/.tmux/**
/.tmux/resurrect/*
/.tmux/plugins/*
!/.tmux/plugins/tpm

!/.zlogin
!/.zshrc
!/.zshrc.pre-oh-my-zsh
!/.profile
!/.xprofile
!/.Xmodmap
!/.Xresources
!/.xinitrc
!/.xscreensaver
!/.xsession
!/.xbindkeysrc
!/.bashrc
!/.bash_profile
!/.vimrc
!/.conkyrc
!/.festivalrc
!/.gdbinit
!/.gdbinit2
!/.oh-my-zsh/
!/.oh-my-zsh-custom-themes/**

!/.gitconfig
!/.gitignore
!/.gitmessage
!/.gitmodules
!/.gitattributes
!/.git-crypt/**

*~
*.swp
