[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/ctrlp-funky"]
	path = .vim/bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".vim/bundle/covim"]
	path = .vim/bundle/covim
	url = https://github.com/FredKSchott/CoVim.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/sensible"]
	path = .vim/bundle/sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/bufexplorer.vim"]
	path = .vim/bundle/bufexplorer.vim
	url = https://github.com/jlanzarotta/bufexplorer.git
