.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.compiz/
.config/Empathy/
.config/Synergy/
.config/Trolltech.conf
.config/autostart/
.config/compiz-1/
.config/dconf/
.config/dispcalGUI/
.config/enchant/
.config/eog/
.config/evince/
.config/gedit/
.config/git/
.config/gnome-control-center/
.config/gst-debug-viewer/
.config/gtk-2.0/
.config/gtk-3.0/
.config/ibus/
.config/libaccounts-glib/
.config/libreoffice/
.config/mc/
.config/menus/
.config/nautilus/search-metadata
.config/nautilus/servers
.config/nemo/
.config/pulse/
.config/ranger/
.config/signond/
.config/software-center/
.config/sublime-text-3/Cache/
.config/sublime-text-3/Index/
.config/teamviewer9/
.config/totem/
.config/ubuntu-tweak/
.config/ubuntu-ui-toolkit/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/sublime-text-3/
.dbus/
.debug/
.dmrc
.gconf/
.gdbinit
.gitconfig
.gitmessage
.gstreamer-0.10/
.intel-gpu-overlay
.intel/
.kde/
.lesshst
.lfm_history
.lfmrc
.local/
.mozilla/
.profile
.screenrc
.selected_editor
.ssh/
.subversion/
.thunderbird/
.toprc
.viminfo
.w3m/
.xscreensaver
.xsession-errors
.xsession-errors.old
Downloads/
dailytests.sh
dev/
examples.desktop
gops.txt
gst/
lose-sap.png
mmfd.png
personal-linux-config/
scripts/
temp.png
test-streams/
test.sh
virtual-udp-server.sh
.fluxbox/fbrun_history

