#!/bin/sh

if [ -e /usr/share/terminfo/x/xterm-256color ]; then
   export TERM='xterm-256color'
else
   export TERM='xterm-color'
fi

export PATH="$PATH:$HOME/.scripts"
export BROWSER=google-chrome-stable
export EDITOR=vim
export TERM_EMU=xterm
export SHELL=/usr/bin/zsh
export FILES=pcmanfm
export PLAYER=vlc
export VISUAL="vim"

xbindkeys

xset +fp ~/.fonts
xset fp+ /usr/share/fonts/100dpi
xset fp+ /usr/share/fonts/75dpi
xset fp+ /usr/share/fonts/TTF
xset fp+ /usr/share/fonts/OTF
xset fp+ /usr/share/fonts/gsfonts
xset r rate 175 50
xset -b

setxkbmap -model pc104 -layout us,ir -option grp:switch,grp:shift_toggle,grp_led:scroll
unclutter -idle 2 -jitter 10 -root &

# background settings
xsetroot -solid "#110011"
[ -f ~/.bg ] && xloadimage -onroot ~/.bg

detect-displays
# xflux -l 49.197168 -g -123.004449

