
xset r rate 200 40
xset +fp ~/.fonts
xsetroot -solid "#110011"
setxkbmap -model pc104 -layout us,ir -option grp:switch,grp:shift_toggle,grp_led:scroll
unclutter -idle 2 -jitter 10 -root & # hide cursor when idle
conky &
xscreensaver &
goldendict &
$TERM &
$BROWSER &

[ `cat /etc/hostname` = "PC2164" ] && \
  xrandr --output VGA1 --auto --left-of DP2; \
  xrandr --output DP2 --primary; \
  echo "this is a test\nthis is a test\nthis is a test\nthis is a test" > /tmp/aes.ecb
