
! Colors ----------------------------------------------------------------------

! !BLK Cursor
! #define _color0        #000d18
! #define _color8        #000d18
! !RED Tag
! #define _color1        #e89393
! #define _color9        #e89393
! !GRN SpecialKey
! #define _color2        #9ece9e
! #define _color10       #9ece9e
! !YEL Keyword
! #define _color3        #f0dfaf
! #define _color11       #f0dfaf
! !BLU Number
! #define _color4        #8cd0d3
! #define _color12       #8cd0d3
! !MAG Precondit
! #define _color5        #c0bed1
! #define _color13       #c0bed1
! !CYN Float
! #define _color6        #dfaf8f
! #define _color14       #dfaf8f
! !WHT Search
! #define _color7        #efefef
! #define _color15       #efefef
! !FMT Include, StatusLine, ErrorMsg
! #define _colorBD       #ffcfaf
! #define _colorUL       #ccdc90
! #define _colorIT       #80d4aa
! !TXT Normal, Normal, Cursor
! #define _foreground    #dcdccc
! #define _background    #272822
! !#define _background    #1f1f1f
! #define _cursorColor   #8faf9f

#define _black    #000000
#define _white    #ffffff

! Molokai Theme
#define _background    #272822
! #define _background    #101010
#define _foreground    #d0d0d0
#define _cursorColor   #d0d0d0
#define _color0        #101010
#define _color1        #960050
#define _color2        #66aa11
#define _color3        #c47f2c
#define _color4        #30309b
#define _color5        #7e40a5
#define _color6        #3579a8
#define _color7        #9999aa
#define _color8        #303030
#define _color9        #ff0090
#define _color10       #80ff00
#define _color11       #ffba68
#define _color12       #5f5fee
#define _color13       #bb88dd
#define _color14       #4eb4fa
#define _color15       #d0d0d0
#define _colorBD       #ffcfaf
#define _colorIT       #80d4aa
#define _colorUL       #ccdc90

! Bashrun --------------------------------------------------------------------

bashrun*faceName:           Terminus:style=Regular:size=10

! Xcursor --------------------------------------------------------------------

! Xcursor.theme: Hicolor
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size:  32

! Xft settings ---------------------------------------------------------------

Xft.dpi:        157
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
! Xft.hintstyle:  hintslight
Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull

! xdm  -----------------------------------------------------------------------

xlogin*frameWidth: 1
xlogin*innerFramesWidth: 1
xlogin*logoPadding: 0
xlogin*geometry:    300x175-0-0
! xlogin*logoFileName: /usr/share/xdm/pixmaps/xorg.xpm
! xlogin*logoFileName: /usr/share/xdm/pixmaps/xorg-bw.xpm
xlogingreetFont:  -adobe-helvetica-bold-o-normal--20------iso8859-1
xloginfont:       -adobe-helvetica-medium-r-normal--14------iso8859-1
xloginpromptFont: -adobe-helvetica-bold-r-normal--14------iso8859-1
xloginfailFont:   -adobe-helvetica-bold-r-normal--14------iso8859-1
! xlogin*allowNullPasswd: true

! rofi ----------------------------------------------------------------------

rofi.modi:                           ssh,window,drun,run
rofi.sidebar-mode:                   true
rofi.terminal:                       termite
rofi.ssh-client:                     ssh
rofi.ssh-command:                    {terminal} -e "{ssh-client} {host}"
rofi.opacity:                        100
rofi.width:                          50
rofi.lines:                          8
rofi.columns:                        1
rofi.font:                           Monospace 36
rofi.fg:                             #5294E2
rofi.bg:                             #5d729f
rofi.fg-active:                      #34405a
rofi.fg-urgent:                      #34405a
rofi.hlfg-active:                    #5e73a0
rofi.hlfg-urgent:                    #5e73a0
rofi.bg-active:                      #34405a
rofi.bg-urgent:                      #34405a
rofi.hlbg-active:                    #5d729f
rofi.hlbg-urgent:                    #5d729f
rofi.bgalt:                          #5671a0
rofi.hlfg:                           #34405a
rofi.hlbg:                           #34405a
rofi.bc:                             #789ee1
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
rofi.color-normal: #272822,  #d0d0d0,  #272822,  #5294E2,  #d0d0d0
!                  'background', 'border'
rofi.color-window: #272822,      #272822
rofi.bw:                             10
rofi.location:                       0
rofi.padding:                        20
rofi.levenshtein-sort:               true
rofi.case-sensitive:                 false
rofi.fuzzy:                          false
rofi.line-margin:                    2
rofi.separator-style:                solid
rofi.hide-scrollbar:                 true
rofi.markup-rows:                    false
rofi.scrollbar-width:                8

! xvkbd ----------------------------------------------------------------------

xvkbd*Font:        -*-dejavu sans-medium-r-*-*-36-*-*-*-*-*-*-*
xvkbd.generalFont: -*-dejavu sans-medium-r-*-*-36-*-*-*-*-*-*-*
xvkbd.letterFont:  -*-dejavu sans-medium-r-*-*-36-*-*-*-*-*-*-*
xvkbd.specialFont: -*-dejavu sans-medium-r-*-*-36-*-*-*-*-*-*-*
xvkbd.keypadFont:  -*-dejavu sans-medium-r-*-*-36-*-*-*-*-*-*-*
xvkbd.banner.font: -*-dejavu sans-medium-r-*-*-36-*-*-*-*-*-*-*
xvkbd.input: false
xvkbd.windowGeometry:1944x684+291+756
xvkbd.noSync: false
xvkbd.jumpPointer: true
xvkbd.jumpPointerBack: true
xvkbd.modalKeytop: false
! xvkbd*Multi_key.width: 1
! xvkbd*Shift_R.width: 75
! xvkbd*Alt_R.width: 1
! xvkbd*Meta_R.width: 1
! xvkbd.NormalKeys
! xvkbd.ShiftKeys
! xvkbd.AltgrKeys
! xvkbd.ShiftAltgrKeys
! xvkbd.KeyLabels
! xvkbd.NormalKeyLabels
! xvkbd.ShiftKeyLabels
! xvkbd.AltgrKeyLabels
! xvkbd.ShiftAltgrKeyLabels
xvkbd.resizable: true
xvkbd.autoRepeat: true
xvkbd.functionkey: false
xvkbd.keypad: false
xvkbd.compact: false
xvkbd.keypadOnly: false
! xvkbd.textDelay: value
! xvkbd.dictFile: filename
xvkbd.minimizable: true
! xvkbd.secure: true
! xvkbd.nonexitable: true
! xvkbd.positiveModifiers: shift,control,meta,alt
xvkbd*beNiceToColormap: false
xvkbd*topShadowContrast: 40
xvkbd*bottomShadowContrast: 80
xvkbd*shadowWidth: 1
xvkbd*Label.shadowWidth: 0
xvkbd*MainMenu.shadowWidth: 0
xvkbd*MainMenu.topShadowContrast: 0
xvkbd*MainMenu.bottomShadowContrast: 0
xvkbd*Background:            #272822
xvkbd*Text*background:       #d0d0d0
xvkbd*specialBackground:     #272822
xvkbd*focusBackground:       #272822
xvkbd*remoteFocusBackground: #272822
xvkbd*Foreground:            #d0d0d0
xvkbd*highlightBackground:   #272822
xvkbd*highlightForeground:   #DDCCBB
xvkbd*highlightThickness: 1
xvkbd*Form.resizable: true
xvkbd*defaultDistance: 0
xvkbd*Form.borderWidth: 0
xvkbd*Label.borderWidth: 0
xvkbd*Command.internalWidth: 2
xvkbd*Repeater.internalWidth: 2
xvkbd*Command.resize: false
xvkbd*Repeater.resize: false
xvkbd*Command.justify: center
xvkbd*Repeater.justify: center

! xmessage -------------------------------------------------------------------
!
xmessage*Font: -*-dejavu sans-medium-r-*-*-24-*-*-*-*-*-*-*
xmessage*form.okay.shapeStyle: rectangle
xmessage*form.okay.background: IndianRed
xmessage*form.okay.foreground: #d0d0d0
xmessage*message*background:   #272822
xmessage*background:           #272822
xmessage*foreground:           #d0d0d0
xmessage*Scrollbar.width: 10
xmessage*Scrollbar.borderWidth: 1
xmessage*Text.?.cursorColor: #d0d0d0
xmessage*Text.borderColor:   #272822
xmessage*Text*background:    #272822
xmessage*Command.highlightThickness: 1
xmessage*Command.internalWidth: 5
xmessage*Command.internalHeight: 3
xmessage*Command.borderColor: #272822
xmessage*Command.shapeStyle: Rectangle
xmessage*Command.background: #272822
xmessage*faceName: Terminus:style=Regular:size=12
xmessage*message.scrollVertical: Always
xmessage*message.scrollHorizontal: Never
xmessage*center: true
xmessage*minHeight: 200
xmessage*minWidth: 500
xmessage*maxWidth: 1000
xmessage*maxHeight: 1000
! add keyboard shortcuts to easily quit program
! xmessage*baseTranslations:#augment\
!         <Key>Return:exit()\n\
!         <Key>space:exit()

! URxvt ----------------------------------------------------------------------

URxvt*color0         : #101010
URxvt*color1         : #960050
URxvt*color2         : #66aa11
URxvt*color3         : #c47f2c
URxvt*color4         : #30309b
URxvt*color5         : #7e40a5
URxvt*color6         : #3579a8
URxvt*color7         : #9999aa
URxvt*color8         : #303030
URxvt*color9         : #ff0090
URxvt*color10        : #80ff00
URxvt*color11        : #ffba68
URxvt*color12        : #5f5fee
URxvt*color13        : #bb88dd
URxvt*color14        : #4eb4fa
URxvt*color15        : #d0d0d0
URxvt*colorBD        : #ffcfaf
URxvt*colorIT        : #80d4aa
URxvt*colorUL        : #ccdc90
URxvt*background     : #272822
URxvt*foreground     : #d0d0d0
! URxvt*fading:        15
URxvt*font           : xft:DejaVu Sans Mono:style=g:pixelsize=22
URxvt*boldFont       : xft:DejaVu Sans Mono:style=g:bold:pixelsize=22
URxvt*cursorColor    : #d0d0d0
URxvt*geometry       : 160x50
URxvt*cutchars       : "`\"'&()*,:;<=>?[\\]^{|}$"
URxvt*loginShell     : true
URxvt*saveLines      : 30000
URxvt*scrollBar      : false
URxvt*scrollBar_right: false
URxvt*scrollstyle    : rxvt
URxvt*transparent    : false
URxvt*visualBell     : false
URxvt.depth          : 32
URxvt.internalBorder : 3
URxvt*letterSpace    : -1
URxvt.lineSpace      : 0
URxvt.iso14755       : true
URxvt.iso14755_52    : false

! xterm ----------------------------------------------------------------------

*vt100*translations: #override Shift <Btn1Up>: exec-formatted("$BROWSER '%t'", PRIMARY)
XTerm*vt100.translations: #override Ctrl ~Meta Shift <Key>j: string(0x1b) string("[74;5u") \n Ctrl ~Meta Shift <Key>b: string(0x1b) string("[66;5u") \n Ctrl ~Meta Shift <Key>f:

xterm*loginShell:         true
xterm*termName:           xterm-256color
xterm*eightBitInput:      false
xterm*VT100.geometry:     160x50
! XTerm*font: -*-terminus-medium-r-normal--10-*-*-*-*-*-iso10646-1
xterm*faceName:           Terminus:style=Regular:size=10
xterm*dynamicColors:      true
xterm*utf8:               2
xterm*saveLines:          16384
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          false
xterm*rightScrollBar:     false
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false
xterm*selectToClipboard:  true
xterm*locale:             true
! xterm*metaSendsEscape:    true
xterm*pointerColor:       white
xterm*pointerColorBackground: black
xterm*cursorBlink:        true
xterm*charClass:          33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*on3Clicks:          regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
xterm*color0         : #101010
xterm*color1         : #960050
xterm*color2         : #66aa11
xterm*color3         : #c47f2c
xterm*color4         : #30309b
xterm*color5         : #7e40a5
xterm*color6         : #3579a8
xterm*color7         : #9999aa
xterm*color8         : #303030
xterm*color9         : #ff0090
xterm*color10        : #80ff00
xterm*color11        : #ffba68
xterm*color12        : #5f5fee
xterm*color13        : #bb88dd
xterm*color14        : #4eb4fa
xterm*color15        : #d0d0d0
xterm*colorBD        : #ffcfaf
xterm*colorIT        : #80d4aa
xterm*colorUL        : #ccdc90
xterm*foreground     : #d0d0d0
xterm*background     : #272822
xterm*cursorColor    : #d0d0d0

!aterm settings---------------------------------------------------------------

aterm*background:               #272822
aterm*foreground:               #d0d0d0
aterm*transparent:              true
aterm*shading:                  30
aterm*cursorColor:              gray
aterm*saveLines:                2000
!aterm*tinting:                 gray
aterm*scrollBar:                false
!aterm*scrollBar_right:          true
aterm*transpscrollbar:          true
aterm*borderwidth:              0
aterm*font:                     -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
aterm*geometry:                 80x25
!aterm*fading:                  70

!xcalc------------------------------------------------------------------------

xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #111111
xcalc.ti.bevel.screen.background:      #000000
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  White
xcalc.ti.Command.background:  #777777
xcalc.ti.button5.background:  Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
!uncomment to change label on division button
!xcalc.ti.button20.label:      /
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle

!xscreensaver-----------------------------------------------------------------

xscreensaver.splash: false

!font settings
xscreensaver.Dialog.headingFont:        -*-helvetica-medium-r-*-*-12-*-*-*-*-*-iso8859-1
xscreensaver.Dialog.bodyFont:           -*-helvetica-medium-r-*-*-12-*-*-*-*-*-iso8859-1
xscreensaver.Dialog.labelFont:          -*-helvetica-medium-r-*-*-24-*-*-*-*-*-iso8859-1
xscreensaver.Dialog.unameFont:          -*-helvetica-medium-r-*-*-24-*-*-*-*-*-iso8859-1
xscreensaver.Dialog.buttonFont:         -*-helvetica-medium-r-*-*-24-*-*-*-*-*-iso8859-1
xscreensaver.Dialog.dateFont:           -*-helvetica-medium-r-*-*-12-*-*-*-*-*-iso8859-1
xscreensaver.passwd.passwdFont:         -*-helvetica-medium-r-*-*-24-*-*-*-*-*-iso8859-1

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         _foreground
xscreensaver.Dialog.background:         _black
xscreensaver.Dialog.topShadowColor:     _black
xscreensaver.Dialog.bottomShadowColor:  _black
xscreensaver.Dialog.Button.foreground:  _foreground
xscreensaver.Dialog.Button.background:  _black

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    _foreground
xscreensaver.Dialog.text.background:    _black
xscreensaver.Dialog.internalBorderWidth:0
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    2

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  _foreground
xscreensaver.passwd.thermometer.background:  _black
xscreensaver.passwd.thermometer.width:       8

!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y
