
! Colors ----------------------------------------------------------------------

!BLK Cursor
#define _color0        #000d18
#define _color8        #000d18
!RED Tag
#define _color1        #e89393
#define _color9        #e89393
!GRN SpecialKey
#define _color2        #9ece9e
#define _color10       #9ece9e
!YEL Keyword
#define _color3        #f0dfaf
#define _color11       #f0dfaf
!BLU Number
#define _color4        #8cd0d3
#define _color12       #8cd0d3
!MAG Precondit
#define _color5        #c0bed1
#define _color13       #c0bed1
!CYN Float
#define _color6        #dfaf8f
#define _color14       #dfaf8f
!WHT Search
#define _color7        #efefef
#define _color15       #efefef
!FMT Include, StatusLine, ErrorMsg
#define _colorBD       #ffcfaf
#define _colorUL       #ccdc90
#define _colorIT       #80d4aa
!TXT Normal, Normal, Cursor
#define _foreground    #dcdccc
#define _background    #1f1f1f
#define _cursorColor   #8faf9f

! Bashrun --------------------------------------------------------------------

bashrun*faceName:           Terminus:style=Regular:size=10

! Xcursor --------------------------------------------------------------------

! Xcursor.theme: Hicolor
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size:  32

! Xft settings ---------------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
! Xft.hintstyle:  hintslight
Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull

! URxvt ----------------------------------------------------------------------

URxvt*color0         : _color0
URxvt*color1         : _color1
URxvt*color2         : _color2
URxvt*color3         : _color3
URxvt*color4         : _color4
URxvt*color5         : _color5
URxvt*color6         : _color6
URxvt*color7         : _color7
URxvt*color8         : _color8
URxvt*color9         : _color9
URxvt*color10        : _color10
URxvt*color11        : _color11
URxvt*color12        : _color12
URxvt*color13        : _color13
URxvt*color14        : _color14
URxvt*color15        : _color15
URxvt*colorBD        : _colorBD
URxvt*colorIT        : _colorIT
URxvt*colorUL        : _colorUL
URxvt*foreground     : _foreground
URxvt*background     : _background
URxvt*cursorColor    : _cursorColor
URxvt*loginShell:    true
URxvt*geometry:      80x50
URxvt*saveLines:     16384
URxvt*cutchars:      "`\"'&()*,:;<=>?[\\]^{|}$"
URxvt*scrollBar:     false
URxvt*visualBell:    true
URxvt*fading:        15

! xterm ----------------------------------------------------------------------

*vt100*translations: #override Shift <Btn1Up>: exec-formatted("$BROWSER '%t'", PRIMARY)
XTerm*vt100.translations: #override Ctrl ~Meta Shift <Key>j: string(0x1b) string("[74;5u") \n Ctrl ~Meta Shift <Key>b: string(0x1b) string("[66;5u") \n Ctrl ~Meta Shift <Key>f:

xterm*loginShell:         true
xterm*termName:           xterm-256color
xterm*eightBitInput:      false
xterm*VT100.geometry:     80x25
!xterm*font:              -*-dina-medium-r-*-*-16-*-*-*-*-*-*-*
xterm*faceName:           Terminus:style=Regular:size=10
xterm*dynamicColors:      true
xterm*utf8:               2
xterm*saveLines:          16384
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          false
xterm*rightScrollBar:     false
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false
xterm*selectToClipboard:  true
xterm*locale:             true
! xterm*metaSendsEscape:    true
xterm*pointerColor:       white
xterm*pointerColorBackground: black
xterm*cursorBlink:        true
xterm*charClass:          33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*on3Clicks:          regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
xterm*color0         : _color0
xterm*color1         : _color1
xterm*color2         : _color2
xterm*color3         : _color3
xterm*color4         : _color4
xterm*color5         : _color5
xterm*color6         : _color6
xterm*color7         : _color7
xterm*color8         : _color8
xterm*color9         : _color9
xterm*color10        : _color10
xterm*color11        : _color11
xterm*color12        : _color12
xterm*color13        : _color13
xterm*color14        : _color14
xterm*color15        : _color15
xterm*colorBD        : _colorBD
xterm*colorIT        : _colorIT
xterm*colorUL        : _colorUL
xterm*foreground     : _foreground
! xterm*background     : _background
xterm*background     : #272822
xterm*cursorColor    : _cursorColor

!aterm settings---------------------------------------------------------------

aterm*background:               black
aterm*foreground:               white
aterm*transparent:              true
aterm*shading:                  30
aterm*cursorColor:              gray
aterm*saveLines:                2000
!aterm*tinting:                 gray
aterm*scrollBar:                false
!aterm*scrollBar_right:          true
aterm*transpscrollbar:          true
aterm*borderwidth:              0
aterm*font:                     -*-terminus-*-*-*-*-*-*-*-*-*-*-*-*
aterm*geometry:                 80x25
!aterm*fading:                  70

!xcalc------------------------------------------------------------------------

xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #111111
xcalc.ti.bevel.screen.background:      #000000
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  White
xcalc.ti.Command.background:  #777777
xcalc.ti.button5.background:  Orange3
xcalc.ti.button19.background: #611161
xcalc.ti.button18.background: #611161
xcalc.ti.button20.background: #611111
!uncomment to change label on division button
!xcalc.ti.button20.label:      /
xcalc.ti.button25.background: #722222
xcalc.ti.button30.background: #833333
xcalc.ti.button35.background: #944444
xcalc.ti.button40.background: #a55555
xcalc.ti.button22.background: #222262
xcalc.ti.button23.background: #222262
xcalc.ti.button24.background: #222272
xcalc.ti.button27.background: #333373
xcalc.ti.button28.background: #333373
xcalc.ti.button29.background: #333373
xcalc.ti.button32.background: #444484
xcalc.ti.button33.background: #444484
xcalc.ti.button34.background: #444484
xcalc.ti.button37.background: #555595
xcalc.ti.button38.background: #555595
xcalc.ti.button39.background: #555595
XCalc*Cursor:                 hand2
XCalc*ShapeStyle:             rectangle

!xscreensaver-----------------------------------------------------------------

xscreensaver.splash: false

!font settings
xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #000000
xscreensaver.Dialog.topShadowColor:     #000000
xscreensaver.Dialog.bottomShadowColor:  #000000
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #000000

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #000000
xscreensaver.Dialog.internalBorderWidth:0
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    2

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #111111
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       8

!datestamp format--see the strftime(3) manual page for details
xscreensaver.dateFormat:    %I:%M%P %a %b %d, %Y
