[Unit]
Description=Lock X session automatically after a timeout

[Service]
User=faham
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -detectsleep -time 6 -locker "lockscreen off" -nowlocker "lockscreen"

[Install]
WantedBy=graphical.target

